<header class="relative" x-data="{ isModalVisible: false, isAuthModalVisible: false }">
            <!-- Mobile Navigation -->
            <nav class="md:hidden flex justify-between items-center p-3 border-b-2">
                <h1>Location</h1>
                
                
                <ul class="w-auto">
                    <li>
                        <img src="/images/Menu.svg" width="40" height="40" class="cursor-pointer" @click="isModalVisible = true" />
                    </li>
                </ul>
            </nav>

            <!-- Mobile Navigation Modal -->
            <div class="absolute top-0 left-0 w-screen h-screen z-10 bg-white" x-show="isModalVisible">
                <div class="relative w-full h-full p-3">
                    <div class="flex justify-end mb-3">
                        <img src="/images/Close.svg" width="40" height="40" class="cursor-pointer" @click="isModalVisible = false" />
                    </div>

                    <ul class="flex-1 flex flex-col gap-3">
                        <li><a href="/">Recherche</a></li>
                        <li><a href="/About">&Agrave; propos de nous</a></li>
                        <li><a href="/Help">Foire à question</a></li>
                    </ul>
                </div>
            </div>

            <!-- Tablet Navigation -->
            <nav class="hidden md:flex lg:hidden border-b-2 px-12 py-3 items-center justify-between">
                <h1>Location</h1>
                <ul class="flex-1 flex justify-center gap-5">
                    <li><a href="/">Recherche</a></li>
                    <li><a href="/About">&Agrave; propos de nous</a></li>
                    <li><a href="/Help">Foire à question</a></li>
                </ul>
                <ul class="relative flex gap-2">
                    <li x-show="isAuthModalVisible"><img class="cursor-pointer" src="/images/Close.svg" width="40" height="40" @click="isAuthModalVisible = false" /></li>
                    <li x-show="!isAuthModalVisible"><img class="cursor-pointer" src="/images/Menu.svg" width="40" height="40" @click="isAuthModalVisible = true" /></li>

                    <!-- Login navigation dropdown -->
                    <ul x-show="isAuthModalVisible" class="absolute right-0 top-10 w-[200px] bg-white rounded-md shadow-lg px-3 py-5 text-sm flex flex-col gap-3">
                        <li><a href="/Auth/Login.html">Connexion</a></li>
                        <li><a href="/Auth/Register.html">Créer un compte</a></li>
                    </ul>
                </ul>
            </nav>


            <!-- Computer Navigation -->
            <nav class="hidden lg:flex border-b-2 px-12 py-3 items-center justify-between">
                <h1>Location</h1>
                <ul class="flex-1 flex justify-center gap-5">
                    <li><a href="/">Recherche</a></li>
                    <li><a href="/About">&Agrave; propos de nous</a></li>
                    <li><a href="/Help">Foire à question</a></li>
                </ul>
                <ul class="relative flex gap-2">
                    <li><a href="/Auth/Login.html" class="text-blue-500">Connexion</a></li>
                    <span>ou</span>
                    <li><a href="/Auth/Register.html" class="text-blue-500">Créer un compte</a></li>
                </ul>
            </nav>
        </header>